@media only screen and (max-width: 480px) {
  .left_nav,
  .right_nav {
    display: none;
  }
  .headlines {
    width: 100%;
    height: 30px;
    margin-top: 60px;
  }
  .news_headline img, 
  .news_headline2 img {
    width: 480px;
    height: auto;
  }
}

@media only screen and (min-width: 481px) {
  .top_nav {
    display: flex;
    flex-wrap: wrap;
  }
}
